#book-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  transition: grid-template-rows 0.3s;
}

#book-container>section {
  width: 100%;
  overflow-y: auto;
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  justify-content: center;
  height: 95%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#book-container form{
  grid-area: 1/1/1/1;
  font-size: 0.9rem;
}
#book-container div {
  grid-area: 1/1/1/1;
}

#book-container table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  height: max-content;
  border-spacing: 0;
}

#book-container thead {
  position: sticky;
  top: 0px;
  z-index: 10;
  background: white;
}

#book-container th {
  border: 0px;
  font-weight: bold;
}
#book-container table tr {
  height: 70px;
  cursor: pointer;
  transition: all 0.2s;
}
#book-container tbody tr:hover {
  background: #C2E1FF;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.404));
}

#booktable-header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.267);
}

#book-container th,td {
  text-align: left;
  padding: 0;
  padding-left: 15px;
  border: 0px;
}

#book-container #tablestudent_class {
  width: 15%;
}

#book-container #tablelend_day {
  width: 15%;
}

#book-container #tablephone {
  width: 20%;
}

#book-container #tablestudent_name {
  width: 25%;
}

#book-container #tablebook_name {
  width: 25%;
}


/*Formulário*/


#book-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

#book-form>form>input,select {
  height: 45px;
  width: 230px;
  text-indent: 15px;
  border: 2px solid #E0E0E0;
}

#book-form>form>input:focus {
  border: 2px solid #47A6FF;
}

#book-form>form>select:focus {
  border: 2px solid #47A6FF;
}

#book-form>form {
  display:grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#lend_day {
  grid-area: 2/1/2/3;
  margin: auto;
}

#phone {
  grid-area: 2/2/2/4;
  margin: auto;
}

#book-form>button {
  position: absolute;
  top: 30%;
  right: 30px;
  transform: translateY(-50%);
}

#book-form>form button {
  background: #47A6FF;
  border-radius: 20px;
  transition: all 0.3s;
  border: 0px;
  width: 50%;
  margin: auto;
  color: white;
  grid-area: 3/1/3/4;
  height: 30px;
}

#book-form>form button:hover {
  background: #0f65b6;
  cursor: pointer;
}

#error-modal {
  position: absolute;
  bottom: 0px;
  background: #E52A1B;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #F9CCC8;
  transition: all 0.3s;
  color: #F9CCC8;
}

.deleteButton {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
.deleteButton svg {
  width: 44%;
}
#drag-menu {
  display: none;
}
.deleteButton:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.deleteButton:hover .bin path {
  fill: #fff;
}
.deleteButton:active {
  transform: scale(0.98);
}
.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}
.deleteButton:hover .tooltip {
  opacity: 1;
}


/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.scroll-up {
  position: absolute;
  top: 30%;
  left: 30px;
  transform: translateY(-50%);
  right: 3rem;
  z-index: 10;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  background-color: #47A6FF;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.scroll-up:hover {
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.281);
}

/* Show scroll-up */
._show-scroll {
  bottom: 3rem;
}

@media (max-width: 1199.98px) {
  .scroll-up {
    right: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #book-form>button {
    display: none;
  }

  .scroll-up {
    display: none;
  }
}